{{/* .navbar{
    display: flex;
   
    justify-content: space-between;
    background-color: #FAECEC;
    padding: 20px;
}

.nav-items{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}

.nav-item{
    border: 2px solid #6C737F;
    border-radius: 20px;
    padding: 10px 20px;
}

.right-btn{
    display: block;
    margin-left: auto;
}

.center{
    display: block;
    margin: 20px auto;
    width:fit-content;
} */}}