.formbody{
    display: flex;
    flex-direction: column;
    align-item: center;
    justify-content: center;
    row-gap: 20px;
    width: 300px;
    margin: 40px auto;
    {{/* background-color: red; */}}
}

.form-input{
    {{/* outline: black; */}}
    background-color: red;
    border: solid 1px green;
    border-radius: 10px;
    padding-left: 10px;
}

.form-wrapper{
    {{/* background-color: red; */}}
    width: fit-content;
    margin: 40px auto;
    padding: 40px;
    border: solid 1px green;
}

.error-alert{
    background-color: red;
    width: 700px;
    margin: 0px auto;
    color: white;
}

.form-btn{
    background: grey;
}